<!DOCTYPE html>
<html lang="en">
<head>
    <title>Nobel Prize Info</title>
</head>
    <body>
        <form action="#" method="post" >
            <input type="hidden" name="form-name" value="form2">
        <p>Prizes:</p>
        <table>
            <tbody>
            <tr>
                <td>How many share in the prize to be entered?</td>
                <td><input type="text" name="share1" /></td>
            </tr>
            </tbody>
        </table>
        <p><input type="submit" value="submit"/></p>
        </form>
    </body>
</html>
