<!DOCTYPE html>
<html lang="en">
<head>
    <title>Nobel Prize Info</title>
</head>
    <body>
        <form action="#" method="post" >
            <input type="hidden" name="form-name" value="form">
        <p>Prizes:</p>
        <table>
            <tbody>
            <tr>
                <td>Year:</td>
                <td><input type="text" name="year" /></td>
            </tr>
            <tr>
                <td>Category:</td>
                <td><input type="text" name="category" /></td>
            </tr>
            <tr>
                <td>ID:</td>
                <td><input type="text" name="id" /></td>
            </tr>
            <tr>
                <td>Firstname:</td>
                <td><input type="text" name="firstname" /></td>
            </tr>
            <tr>
                <td>Surname:</td>
                <td><input type="text" name="surname" /></td>
            </tr>
            <tr>
                <td>Motivation:</td>
                <td><input type="text" name="motivation" /></td>
            </tr>
            <tr>
                <td>Share:</td>
                <td><input type="text" name="share" /></td>
            </tr>
            </tbody>
        </table>
        <p><input type="submit" value="submit"/></p>
        </form>
    </body>
</html>
